.detailsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 40px 20px;
  gap: 15px;
}

.heading {
  font-size: 34px;
  font-weight: bold;
  padding-top: 10px;
}

.prelimFields {
  display: flex;
  gap: 20px;
}

.nftBreakdown {
  display: flex;
  gap: 10px;
}

.nameDescription {
  display: flex;
  gap: 20px;
  width: 100%;
}
